# Ignore Python compiled files
__pycache__/
*.py[cod]
*.swp
*.swo

# Virtual environment
venv/
.myenv/
.env/

# Ignore database files (if using SQLite)
db.sqlite3
*.sqlite3

# Django secret key (if stored in a .env file)
.env
*.env

# Ignore logs and temp files
*.log
logs/
*.tmp
*.bak

# Ignore media/uploads (optional)
media/
staticfiles/

# # Ignore IDE/editor settings
# .vscode/
# .idea/
# *.iml

# # Ignore Django migrations cache (optional)
# **/migrations/*.pyc
# **/migrations/__pycache__/

.env
note.txt
handle.py
db_backup_utf8.json
db_backup.json