.social-icon {
  padding: 0 10px;
  font-size: 25px;
}

.menu-title {
  color: white;
  width: 200px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  background-color: #252525;
  border: 3px solid white;
  border-radius: 40%;
  padding: 5px;
}

.menu-title:hover {
  color: white;
  border: 3px solid #000000;
  background-color: #f76d37;
  
}


/* .menu-title::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  bottom: -8px;
  left: 0;
  transition: 0.5s;
} */

.tab-content {
  display: none;
}

.tab-content.active-tab {
  display: inline;
  border: none !important;
}

.col span, .menu-item span, .gallery_section_2 span {
  display: inline-block;
  padding: 12px;
  transition: all 0.2s ease-in;
  position: relative;
  font-size: 19px;
  cursor: pointer;
  z-index: 1;

}

.tab-content span,
.gallery_section_2 span {
  color: black;
  border: 3px solid black;
}

.gallery_section_2 img{
  height: 200px;
  border: 3px solid black;
  border-radius: 10%;
}

/*

.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style:none;
    margin:10px 0;
}
.tab-contents ul li span{
    color:red;
    font-size: 15px;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display: inline;
}
*/

.card-price {
  display: inline-block;
  width: auto;
  height: 38px;
  background-color: #f76d37;
  -webkit-border-radius: 3px 4px 4px 3px;
  -moz-border-radius: 3px 4px 4px 3px;
  border-radius: 3px 4px 4px 3px;
  border-left: 1px solid #f76d37;
  /* This makes room for the triangle */
  margin-left: 19px;
  position: relative;
  color: white;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  padding: 0 10px 0 10px;
}

/* Makes the triangle */
.card-price:before {
  content: "";
  position: absolute;
  display: block;
  left: -19px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-right: 19px solid #f76d37;
}

/* Makes the circle */
.card-price:after {
  content: "";
  background-color: white;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  left: -9px;
  top: 17px;
}

.pin {
  text-align: center;
  text-decoration: solid;
}

.orange {
  color: #ff7a01;
}

.form-container {
  max-width: 700px;
  margin: 30px;
  border: 2px solid black;  
  background-color: #d3cecd;
  border-radius: 5%;
  padding: 30px;
  /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%); */
}

.form-container-1{
  border: 3px solid #f76d37;
}

.form-container .form .input {
  color: #87a4b6;
  width: 100%;
  background-color: black;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}

.form-container .form .input:focus {
  border-left: 5px solid #f76d37;
}

.form-container .form .textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: black;
  color: #f76d37;
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .textarea:focus {
  border-left: 5px solid #f76d37;
}

.form-container .form .button-container {
  display: flex;
  gap: 10px;
}

.form-container .form .button-container .send-button {
  flex-basis: 70%;
  padding: 10px;
  color: #f76d37;
  text-align: center;
  font-weight: bold;
  background-color: transparent;
  border: 3px solid #f76d37;
}

.form-container .form .button-container .send-button:hover {
  background: #f76d37;
  border: 3px solid white;
  color: white;
}

.form-container .form .button-container .reset-button-container {
  filter: drop-shadow(1px 1px 0px #ff7a01);
  flex-basis: 30%;
}

.form-container .form .button-container .reset-button-container .reset-button {
  position: relative;
  text-align: center;
  padding: 10px;
  color: #ff7a01;
  font-weight: bold;
  background: #001925;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .reset-button-container .reset-button:hover {
  background: #ff7a01;
  color: #001925;
}

.just {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 40px;
  color: #013747;
  font-weight: bold;
}
.qr-image{
  text-align: center;
}

.qr-image img{
  height: 300px;
  width: 300px;
}

.momo_name {
  color: mediumslateblue;
  font-weight: bold;
  text-align: center;
}


.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-1 {
  background: black;
  border: 1px solid white;
  font-weight: 600;
}

.btn-1:hover {
  background: white;
  color: black;
  border: 2px solid black;
  font-weight: 600;
}


.tab-titles-class {
  font-size: 18px;
  padding-top: 50px;
  margin-bottom: 50px;
}

.tab-titles-class h1 {
  color: #f76d37;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
  text-decoration: underline;
}




.tab-titles {
  display: flex;
 padding-bottom: 20px;
 
}



.tab-content img {
  height: 300px;
  width: 400px;
  border: 3px solid black;
  border-radius: 10%;
  box-shadow: 20px 0px 50px rgba(7, 7, 7, 0.4);
}


.map-responsive iframe {
  border: 3px solid #f76d37;
  width: 100%;
}

.main{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* button login register */
/* From Uiverse.io by shah1345 */ 
.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  /* color: #090909; */
  padding: 5px 20px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 5px 5px 5px #322f2f;
}

.button2:active {
  color: #666;
  /* box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff; */
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #c5c18f;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #000000;
  border: 1px solid #c5c18f;
}

.button2:hover:before {
  top: -35%;
  background-color: #c5c18f;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #878131;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* login page */
/* From Uiverse.io by bociKond */ 
/* .form {
  --bg-light: #efefef;
  --bg-dark: #938787;
  --clr: #58bc82;
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px;
  margin: 200px; */
  /* gap: 1rem;
  width: 100%;
  max-width: 500px; */
/* } */ 

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* .form input[type="email"],
.form input[type="password"] {
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr-alpha);
  outline: 2px solid var(--bg-dark);
}

.form input[type="email"]:focus,
.form input[type="password"]:focus {
  outline: 2px solid var(--clr);
}

.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
}

.form .submit {
  padding: 1rem 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

.form .submit:hover {
  background-color: var(--clr);
  color: var(--bg-dark);
} */

.span {
  text-decoration: none;
  color: var(--bg-dark);
}

.span a {
  color: var(--clr);
}
/* register page */
/* From Uiverse.io by Yaya12085 */ 
.form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

#confirm{
  
  color: black;
}

.saru{
  background-color: white;
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(17, 16, 16, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.po{
  color: blue;
}
/* 
.p-box{
  display: flex;
  align-items: center;
}

.p-box i{
  cursor: pointer;
}
.po-box{
  margin-left: 100px;
  
} */

.i-box{
  margin-left: 250px;
}
.i-box i{
  cursor: pointer;
}